.App {
  text-align: center;
}

.Title {
  font-weight: 400;
  font-size: 100px;
  color: #00a4fa;
  margin: auto;
}

.Title span {
  font-weight: 700;
  color: #708594;
}

.SubTitle {
  margin: auto;
  color: white;
}
